{% extends '::index.html.twig' %}
{% block body %}
    <script>
function afficher() {
    $('#myModal3').modal('show');
    $('#label').text(document.getElementById("popup").name);
 //   alert(document.getElementById("popup").name)

}




    </script>

    <div style="background-color: red">
        <p style="color: white">{{ Message }}</p>

        </div>

    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <div class="graph">
                    <div class="table table-striped table-hover">
                        <h3 class="inner-tittle two">      le panier </h3>
                        <table class="table table-striped table-hover"> <thead> <tr>
                                <th>nomproduit</th> <th>prix</th> <th>quantite</th> <th>promo</th>
                                <th>total</th><th>Supprimer</th><th>Modifier</th></tr> </thead>
                            <tbody>
                            {% set foo='' %}
                            {% set fo='' %}
                            {% set f='' %}
                            {% if lignecommande|length == 0 %}
                                <tr>
                                    <td colspan="7"><center>Aucun articles dans votre panier</center></td>
                                </tr>
                            {% endif %}
                            {% for lignecommande in lignecommande %}
                                <tr >
                                    <td class="success"> {{ lignecommande.idProduit.nom}}</td>
                                    <td class="info"> {{ lignecommande.prix }}</td>
                                    <td class="danger"> {{  lignecommande.quantite }}</td>
                                    <td class="active"> {{ lignecommande.promo }}</td>
                                    <td class="success">  {{ lignecommande.total}} </td>
                                    <div class="clearfix"></div>
                                    <td class="info"><a href="{{ path('delete_lignecommande',{'id':lignecommande.id}) }}">supprimer</a></td>
                                    <td><form method="POST" action="{{ path('client_panier') }}">
                                            <input type="text" name="quantite">
                                            <input type="number" name="input" value="{{ lignecommande.id }}" style="display: none">
                                            <label></label>
                                            <input type="submit" value="valider">
                                        </form></td>
                                    {% set f=lignecommande.prix*lignecommande.quantite+f %}
                                    {% set foo=lignecommande.total+foo %}
                                    {% set fo=fo+lignecommande.quantite %}

                                </tr>


                            {% endfor %}
                            <td class=""> total sans promotion:{{ f }}</td>
                            <td class="">le nombre de produit  </td>
                            <td class=""> {{ fo }}</td>

                            <td> Votre Total est:</td>
                            <td class="danger"> {{ foo }}</td>
                            <td class="info"><a href="{{ path('supprimer_commande')}}">supprimer la commande</a></td>
                            <td ><a href="{{ path('paiement',{'total':foo }) }}">passer la commande</a></td>

                        </table>

                            </tbody>
                    </div>
                </div>
            </div>
        </div>

    </div>




{% endblock %}