{% extends '::indexlogin.html.twig' %}


{% block signup %}

    <script>

        $(function() {
            $('#myModal2').modal('show');
        });

    </script>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-target="#myModal">&times;</button>
                </div>

                <div class="modal-body modal-body-sub_agile">
                    <div class="col-md-8 modal_body_left modal_body_left1">
                        <h3 class="agileinfo_sign">Connexion </h3>


                      <div>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_registration_register') }}">Register</a>/
                                <a href="{{ path('fos_user_security_login') }}">Login</a>



                            {% endif %}
                        </div>


                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="flash-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}



                        <div>
                            {% block fos_user_content %}
                            {% endblock fos_user_content %}
                        </div>



                    </div>
                    <div class="col-md-4 modal_body_right modal_body_right1">
                        <img src="images/log_pic.jpg" alt=" "/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //Modal content-->

        </div>
    </div>

        {% endblock %}





